# Example: Environment variables
# Copy this file as .env and customize the variables as per requirements.

COMPOSE_PROJECT_NAME=

POSTGRES_USER=
POSTGRES_PASSWORD=

RAILS_ENV=

REACT_APP_RAILS_API_PORT=
