# Docker volumes
.ops/volumes

# Environment variables
.env

# Misc
.DS_Store
.idea

rails_api/tmp
rails_api/log

# TODO: this has to be built locally, not enough memory in the droplet
# react_ui/build
react_ui/node_modules
react_ui/public/env-config.js
