{
  email japenner@gmail.com
}

jacobpenner.com {
  reverse_proxy react_ui:4000 {
    header_down Strict-Transport-Security max-age=31536000;
  }

  reverse_proxy rails_api:3001 {
    header_down Strict-Transport-Security max-age=31536000;
  }
}
