{
  email japenner@gmail.com
}

jacobpenner.com {
  encode gzip zstd

  reverse_proxy /api/* rails_api:3001

  reverse_proxy react_ui:4000 {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

api.jacobpenner.com {
  redir https://jacobpenner.com/api{uri}
}

www.jacobpenner.com {
  redir https://jacobpenner.com{uri}
}
