.home__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.home__intro {
  display: flex;
  width: 100%;
  align-items: center;
}

.home__name {
  color: #db4f4a;
  padding-left: 0.75rem;
}

.home__title {
  display: flex;
  width: 100%;
  align-items: center;
}

@media (min-width: 320px) {
  .home__container {
    padding-top: 3rem;
  }

  .home__intro {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .home__title {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .home__intro {
    font-size: 3rem;
    line-height: 1;
  }

  .home__title {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1024px) {
  .home__container {
    max-width: 64rem;
  }

  .home__intro {
    font-size: 6rem;
  }

  .home__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
