.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content:start;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 320px) {
  .content {
    max-width: 18rem;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 46rem;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 62rem;
  }
}
