.home__container {
  display: flex;
  flex-direction: column;
}

.home__name {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  padding-top: 12rem;
}

.home__title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.gradient-rainbow {
  background: linear-gradient(81.66deg, #00B5EE 7.21%, #FF45A4 45.05%, #FFBA00 78.07%);
}

.gradient-rainblue {
  background: linear-gradient(90deg, #24CBFF 14.53%, #FC59FF 69.36%, #FFBD0C 117.73%);
}

/* .screens {
  xs: '480px',
  sm: '768px',
  md: '1060px',
} */
