.home__container {
  display: flex;
  flex-direction: column;
}

.home__name {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
  padding-top: 12rem;
}

.home__title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.gradient-rainbow {
  background: linear-gradient(
    81.66deg,
    #00b5ee 7.21%,
    #ff45a4 45.05%,
    #ffba00 78.07%
  );
}

.gradient-rainblue {
  background: linear-gradient(
    90deg,
    #24cbff 14.53%,
    #fc59ff 69.36%,
    #ffbd0c 117.73%
  );
}

/* .screens {
  xs: '480px',
  sm: '768px',
  md: '1060px',
} */
